<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leo Mattioli - Logout</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

    <header class="container vh-100 d-flex flex-column justify-content-start align-items-center">
        <h1>CLOSE</h1>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                        <h1>Sesión Cerrada</h1>
                </div>
            </div>
        </div>
    </header>

    
    
    <%- include('partials/footer') %>
</body>
</html>