<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leo Mattioli - <%- title %> </title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    
    
</head>
<body>
    <%- include('partials/navigation') %>

    <div class="flecha">
        <a href="https://api.whatsapp.com/send?3515102545=numero&text=Test" target="_blank"><img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1022px-WhatsApp.svg.png" alt="whatsapp logo" height="80px"></a> 
    </div>

   

    <header class="container d-flex justify-content-center align-items-start imaggen">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div style="height: 60px;"></div>
            <div class="contIm">
                <img src="/img/Logo.jpg" alt="logo" height="600px">
            </div>            
            <div style="height: 40px;"></div>
            <a href="/shop" class="boton w-75">COMPRA EL TUYO</a>
        </div>
    </header>

    <div class="bajar">
        <a href="#info">¡Mas info abajo!</a>
    </div>


    <div class="info" id="info">
        <div class="uno rectangulo der">
            <img src="img/Otros/VariosMates.jpeg"  height="450px" alt="mate">
            <div class="texto" >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In animi, aut illum nobis dignissimos ex consequuntur harum esse rerum dolore facilis nam ea architecto voluptas iusto deleniti magni, deserunt aspernatur?
                Beatae perspiciatis repellendus distinctio cumque, voluptas, necessitatibus nemo deserunt dolores ducimus dicta veniam veritatis aliquam quo. Sit 
            </div>
        </div>
        <div class="dos rectangulo izq">
            <img src="img/Otros/OtroMate.jpg"  height="450px" alt="mate" class="rari">
            <div class="texto">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In animi, aut illum nobis dignissimos ex consequuntur harum esse rerum dolore facilis nam ea architecto voluptas iusto deleniti magni, deserunt aspernatur?
                Beatae perspiciatis repellendus distinctio cumque, voluptas, necessitatibus nemo deserunt dolores ducimus dicta veniam veritatis aliquam quo. Sit excepturi sequi, nostrum quos, assumenda dicta facilis porro accusamus consequatur 
            </div>
        </div>
        <div class="tres rectangulo der">
            <img src="img/Otros/mateico.jpg"  height="450px" alt="mate">
            <div class="texto">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In animi, aut illum nobis dignissimos ex consequuntur harum esse rerum dolore facilis nam ea architecto voluptas iusto deleniti magni, deserunt aspernatur?
                Beatae perspiciatis repellendus distinctio cumque, voluptas, necessitatibus nemo deserunt dolores ducimus dicta veniam veritatis aliquam quo. Sit excepturi sequi, nostrum quos, assumenda dicta facilis porro accusamus consequatur in ad vitae?
                Amet voluptatum, ducimus ab ad quo quos delectus unde, autem consequuntur inventore eius vitae natus? Excepturi quod distinctio exercitationem reiciendis obcaecati, quaerat cum ducimus a autem. Ullam ipsum eum aspernatur?
            </div>
        </div>
    </div>

    

    <%- include('partials/footer') %>
</body>
</html>