<!-- <footer class="bg-light text-center p-4">
    <p class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, modi qui consectetur facilis eos aliquid architecto ducimus accusamus eius nesciunt, ut ab ipsam vel! Magni alias commodi dolorem voluptates unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia asperiores aliquid, nobis neque suscipit provident maiores dolorem, error eveniet culpa et aut voluptates odit deserunt est eligendi, id modi saepe.</p>
    <p class="h5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor impedit corporis facilis, deserunt et qui atque nesciunt nobis unde quasi error autem hic, fuga praesentium reiciendis optio repellat accusamus dignissimos!</p>
</footer> -->


<!-- <img src="/img/Otros/Hondu.svg" alt="" width="100%"> -->
    
</svg>
<footer class="footer">
 <div class="atencion sepa">
    <h1 class="f">ATENCION AL CLIENTE</h1>
    <h2>0810-234-5454</h2>
    <h2>leomattiolimates@gmail.com</h2>
    <h2>Whatsapp 352232134</h2>
 </div>
 <div class="pagos sepa">
    <h1 class="f">MEDIOS DE PAGO</h1>
    <div class="fotospagos">
        <!-- <img src="https://tuquejasuma.com/media/cache/d8/f5/d8f5a4ba0655bf6cec0d81323144cf5c.jpg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/200px-MasterCard_Logo.svg.png" alt="">
        <img src="https://www.mgscreativa.com/images/jamp/page/logo-mercadopago561.png" alt=""> -->
    </div>
 </div>
  <div class="mapa sepa">
 </div>
</footer>